<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}",local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <% if @book.errors.messages[:title].any? %>
  <p>error</p>
  <span class="error"><%=@book.errors.messages[:title][0] %></span>
  <% end %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <% if @book.errors.messages[:body].any? %>
  <p>error</p>
  <span class="error"><%=@book.errors.messages[:title][0] %></span>
  <% end %>
  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to "Show", book_path(@book) %>
<%= link_to "Back", books_path %>


